<!DOCTYPE html>
<html 
	lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="${pageContext.request.contextPath}/assets/js/jquery/jquery-1.9.0.js"></script>
<script>
$(function(){
	$("#languages a").click(function(event){
		event.preventDefault();
		console.log($(this).data("lang"));
		
		document.cookie =
			"lang="    + $(this).data("lang") + ";" +                 // name=value  
			"path="    + "${pageContext.request.contextPath}" + ";" + // path
			"max-age=" + (30*24*60*60)                                // max-age  
	
		// reload
		location.reload();
	});
});
</script>
</head>
<body>
		<div id="header">
			<h1>
				<!-- ${sitevo.title } -->
				[[${site.title }]]
			</h1>
			<div id="languages">
				<a th:if='${language == "en"}' href="" data-lang="ko">KR</a><a href="" class="active" data-lang="en">EN</a>
				<a th:unless='${language == "ko"}' href="" data-lang="ko" class="active">KR</a><a href="" data-lang="en">EN</a>
			</div>			
			<ul>
				<div sec:authorize="!isAuthenticated()">
					<li><a href="${pageContext.request.contextPath}/user/login">로그인</a><li>
					<li><a href="${pageContext.request.contextPath}/user/join">회원가입</a><li>
				</div>
				<div sec:authorize="isAuthenticated()">
					<sec:authentication property="principal" var="user"/>
					<li><a href="${pageContext.request.contextPath}/user/update">회원정보수정</a><li>
					<li><a href="${pageContext.request.contextPath}/user/logout">로그아웃</a><li>
					<li>[[${user.name }]]님 안녕하세요 ^^;</li>
				</div>
			</ul>
		</div>
</body>
</html>